/* =========== CSS VARIABLES ============= */
:root{
    --bg-gradient: linear-gradient(to right, #3e3c3c, #43323a,);
    --text-color: #ffffff;
    --btn-bg: #8b8787cb;
    --btn-operator-bg: #363535ad;
    --btn-equal-bg: #db9ee5;
    --btn-equal-hover: #8d4e96;
    --btn-hover: #5c5858ad;
    --font-lg: 2rem;
    --font-md: 1.5rem;
    --font-xl: 3rem;
    --transition-speed: 0.3s;
}
/* =========== RESET & BASE ========= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: linear-gradient(to right, #3e3c3c, #43323a);
    color: var(--text-color);
    position: relative;
    font-family: sans-serif;
}
/* ========= LAYOUT: CONTAINER ========== */
.calculator-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
}


/* ======== HEADER ========== */
.calculator-container header{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-lg);
    align-self: center;
    padding-left: 0 2rem;
    position: relative;
}
.menu-bar{
    cursor: pointer;
    margin-right: .5em;
}
.calculator-header .calculatorLogo{
    font-size: var(--font-xl);
}
.historyInPhone{
    position: absolute;
    right: 10px;
    display: none;
}
#history, #memory{
    cursor: pointer;
}
#history:active, #memory:active{
    text-decoration: underline;
}
.calculator-header .history-memory{
    margin-right: 200px;
    display: flex;
    gap: 1.5rem;
    font-size: var(--font-md);
}

/* ======= CALCULATOR GRID ======== */
.calculator{
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 100px 35px 1fr;
    padding: 1rem;

} 
/* ======== DISPLAY =========== */
.calculator input{
    width: 100%;
    height: 100%;
    text-align: right;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: 6rem;
    padding-right: 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* align-self: center; */
    
}
.calculator input::placeholder{
    font-size: 6rem;
    color: var(--text-color);
}

/* =========== MEMORY BUTTONS ==========  */
.memory-operation{
    display: flex;
    align-self: flex-start;
    gap: 1.5rem;
    font-size: var(--font-md);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.memory-btn{
    width: 5rem;
    background-color: transparent;
    color: var(--text-color);
    height: 2rem;
    border: none;
    cursor: pointer;
    transition: var(--transition-speed);
}
.memory-btn:hover{
    color: wheat;
    transform: scale(1.05);
}

/* ========= HISTORY & MEMORY AREA ============= */
.history-display-area,
.memory-display-area {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background-color: #494343;
    display: none;
    
}
.history-display-area{
    position: relative;
    text-align: right;
}
.history-display-area p{
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-size: 2rem;
}


/* ========= BUTTON GRID =========== */
.input-box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.input-box-container button{
    max-width: 100%;
    height: 8.7rem;
    border-radius: 5px;
    /* background-color: var(--btn-bg); */
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: var(--transition-speed);
    
}
.input-box-container .button:active{
    background-color: antiquewhite;
}

.operator-btn{
    background-color: var(--btn-operator-bg);
}
.operator-btn:hover{
    background-color: var(--btn-hover);
    
}
.number-btn{
    background-color: var(--btn-bg);
}
.number-btn:hover{
    background-color: var(--btn-hover);
}
#equals{
    background-color: #db9ee5;
    color: black;
}
#equals:hover{
    background-color: #8d4e96;

}
#equals:active{
    background-color: antiquewhite;
}


/* input-box ends here */

/* main calculator ends here */

/* ========= Dynamic styles ============= */
.history-display-area-more-styles{
    display: block;
    margin-left: 1rem;
    /* transition-duration: 2s; */
}
.memory-display-area-more-styles{
    display: block;
    margin-left: 1rem;
}
.binBtn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
